* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ---------------------------- */
/*      Colors  */
/* -------------------------------- */

/* -#FCA424 (Orange)
- #0DD39D(cyan)
- #1A1A1A(black)
- #CDCDCD(grey)
- #FEFEFE (white)*/

html {
  font-size: 62.5%;
}

.main-container {
  height: 200rem;
}
.profile-content {
  width: 170vh;
  width: 1200px;
  margin: 3rem 0 4rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.header-bg {
  background-image: linear-gradient(
      rgba(31, 27, 27, 0.726),
      rgba(0, 0, 0, 0.432)
    ),
    url(/images/bg1.jpg);

  background-size: cover;
}
.yellow-circle {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border: 7rem solid #fca424;
  height: 45rem;
  width: 50rem;
  border-radius: 50%;
  top: -10%;
  left: -10%;
}
.bubble {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border: 1rem solid #13bafc;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  bottom: 10%;
  left: 1%;
}
.bubble2 {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border: 1rem solid #00af2c;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: 0%;
  left: 60%;
}
.grey-box {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border: 2rem solid #837d75;
  height: 40rem;
  width: 30rem;
  transform: rotate(50deg);

  top: 50%;
  left: 80%;
}
.square1 {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border: 2rem solid #314ed1;
  height: 1rem;
  width: 1rem;
  transform: rotate(60deg);
  top: 30%;
  left: 90%;
}
/* ---------------------------- */
/*      NAV BAR SECTION  */
/* -------------------------------- */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}
.logo {
  width: 10rem;
  height: 4rem;
  margin: 0 0 0 3rem;
  transition: all 0.3s ease-in;
}
.logo:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.nav-user {
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 1.5rem;
  border-radius: 0.3rem;
}
.nav-user:hover {
  transform: translateY(-2px);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.need-help-button {
  background: rgba(80, 75, 75, 0.329);
  border-radius: 0.3rem;
  padding: 1rem 1.8rem;
  color: black;
  border: none;

  color: white;
  font-family: sans-serif;
  font-size: 1rem;
}
.need-help-button:hover {
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.nav-bar-icon {
  width: 2rem;
  color: rgba(255, 255, 255, 0.719);
  height: 2rem;
  position: relative;
}
.nav-bar-icon:hover {
  color: #15be91b7;
  cursor: pointer;
}
.notifications-dot {
  position: absolute;
  top: 5.5rem;
  left: 116.1rem;
  width: 8px;
  height: 8px;
  background-color: #fca424;
  border-radius: 50%;
  border: 2px solid #fca424;
}
/* ---------------------------- */
/*      USER INFO SECTION  */
/* -------------------------------- */
.profile-info {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 2rem;
  margin: 0 0 0 30rem;
}
.main-user {
  width: 23rem;
  height: 22rem;
  position: absolute;
  margin: 2.5rem 0 0 4rem;
  border-radius: 0.3rem;
}
.profile-greeting {
  font-family: "Rubik", sans-serif;

  font-style: normal;
  font-size: 2.3rem;

  color: white;
  margin: 0 0 1.5rem 0;
}

.profile-details {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
}
.profile-details-title {
  font-family: "Rubik", sans-serif;
  color: rgb(190, 154, 154);
}
.profile-complete-section {
  background-color: rgba(127, 131, 134, 0.315);
  padding: 1rem;
  margin: 0 0 0 15rem;
}
.percentage-img {
  width: 9rem;
  height: 6rem;
}
.profile-complete-flex {
  display: flex;

  align-items: center;
  gap: 1rem;
}
.profile-complete-title,
.profile-complete-subtitle {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;

  font-style: normal;
  color: white;
}
.profile-complete-subtitle {
  color: rgb(110, 106, 106);

  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
}
.profile-complete-button {
  color: white;
  background-color: #fca424;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease-in;
}
.profile-complete-button:hover {
  color: white;
  cursor: pointer;
  background-color: #39e7e770;
}
/* ---------------------------- */
/*    DASHBOARD SECTION  */
/* -------------------------------- */
.user-dashboard {
  background-color: white;
  width: 100%;
  height: 80rem;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 8rem 1fr;
}
.dashboard-nav {
  background-color: #f8f9fa;
  grid-column: 2/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.dashboard-aboutus {
  background-color: #ffffff;
  border-right: 1px solid #88847b49;

  grid-column: 1/2;
  grid-row: 1/-1;
}
.dashboard-details {
  background-color: #f8f9fa;
  grid-column: 2/3;
  grid-row: 2/3;
}
.border {
  border: none;
  position: absolute;
  height: 1px;
  width: 88.7rem;
  background-color: #88847b49;
  margin: 5.8rem 0 0 -1.4rem;
}

.profile-status-flex {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 13rem;
}
.camera {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  background-color: rgba(127, 131, 134, 0.315);
  padding: 0.5rem;
  margin: 1rem 0 0 38rem;
  transition: all 0.3s ease-in;
}
.camera:hover {
  background-color: rgba(31, 32, 32, 0.733);
  cursor: pointer;
}
.nav-title,
.nav-maintitle {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #cdcdcd;
  transition: all 0.2s ease-in;
}
.nav-title1,
.nav-maintitle1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #cdcdcd;
  transition: all 0.2s ease-in;
}
.nav-title1:hover {
  font-weight: bold;
  border-bottom: 2px solid #fca424;
  color: black;
  padding-bottom: 2rem;
  margin-top: 2.3rem;
  cursor: pointer;
}

.percentage-value {
  font-size: 1.3rem;
  background-color: rgba(127, 131, 134, 0.815);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  margin: 1rem;
}
.progress {
  position: absolute;
  background-color: #fca424;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  top: 14.3rem;
  left: 96.6rem;

  border: 0.4rem solid #fca424;
  background-color: transparent;
  border-top-color: rgb(167, 151, 151);
  transform: rotate(45deg);
}
.nav-flex {
  display: flex;
  justify-items: space-between;
  align-items: center;
}
.nav-icons {
  stroke: rgb(0, 0, 0);

  width: 3rem;
  height: 1.9rem;
}
.nav-maintitle1 {
  font-weight: bold;
  border-bottom: 2px solid #fca424;
  color: black;
  padding-bottom: 2rem;
  margin-top: 2.3rem;
}
.claim-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 1rem;
  background-color: #0dd39d;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0 0 2rem;
  transition: all 0.2s ease-in;
}
.claim-button:hover {
  color: #ffffff;
  background-color: #ff0b0bbd;
  cursor: pointer;
}
.claim-icon {
  width: 1.2rem;
  height: 1.2rem;
}
/* ---------------------------- */
/*    ABOUT US   SECTION  */
/* -------------------------------- */

.Aboutfamily-title {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 4rem 0 0 2.5rem;
}
.aboutflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #615a5a9d;
  margin: 3rem 2rem 0 2rem;
  padding-bottom: 1rem;
}
.about-icons {
  margin: 4rem 2rem 0 0;
  width: 2rem;
  height: 2rem;
}
.aboutustitle {
  margin: 2rem 0 0 4.2rem;
}
.aboutuspeople {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0 4.2rem;
  gap: 2rem;
}
.about-users-photo {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
}
.about-users-photo4 {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 3rem;
}
.aboutme {
  margin: 2.5em 0 0 2.5rem;
}
.aboutme-icons {
  margin: 2.5rem 2rem 0 0;
}
.aboutmetitle {
  margin: 1rem 0 0 4.5rem;
}
.aboutmetop {
  margin: 3rem 0 0 4.5rem;
}
.aboutme-detials {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0.5rem 0 2rem 4.5rem;
}
/* ---------------------------- */
/*    ACTIVITY   SECTION  */
/* -------------------------------- */
.peoplecounts {
  display: flex;

  align-items: center;
  justify-content: space-around;
  margin: 3rem 0 0 2rem;
}
.people-claim-flex {
  display: flex;
  align-items: center;

  background-color: white;
  margin: 0 1rem 0 2rem;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.people-claim-flex:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.2s ease-in;
}

.people-count {
  font-size: 5rem;
  font-family: "Dosis", sans-serif;
  border-right: 1px solid #615a5a9d;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 0 2rem 0 0;
}
.people {
  margin: 0 0 0 1rem;
  color: #cdcdcd;
}
.img-text {
  font-size: 1.3rem;

  color: white;
  margin: 0 2rem 0 -1.5rem;
}
.img-collection {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 2px solid white;
}
.img-collection:last-child {
  margin: 0;
}
.img-count-flex {
  display: flex;
  align-items: center;
  margin: 1rem 2rem 0 1rem;
}
.peopleprofile-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
  height: 53rem;
  margin: 1rem;
}
.bold {
  font-size: 1.5rem;
}
.activity {
  background-color: white;
  height: 50rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;
}
.peopleprofile-img {
  width: 14rem;
  height: 14rem;
  border-radius: 0.5rem;
}
.peopleprofile-flex {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  margin: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.peopleprofile-flex:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transform: translateY(-2px);
  transition: all 0.2s ease-in;
}
.peopleprofile-detials {
  margin: 0 0 0 2rem;
}
.people-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  margin: 0 0 1.5rem 0;
}
.people-info-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1rem 1rem 0;
}
.people-icons {
  width: 2rem;
  height: 2rem;
  color: #837d75b6;
}
.peopledes-title {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.pay-button {
  color: white;
  background-color: #fca424;
  border: none;
  padding: 0.5rem 1.7rem;
  margin: 0 0 0 14rem;
  transition: all 0.2s ease-in;
}
.peopledes-des {
  color: #837d75;
  font-weight: 400;
}
.activity-area {
  margin: 2.5rem 0 0 2rem;
}
.activity-title {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #444040c9;
  margin: 0.5rem 2.5rem 1.5rem 0;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #837d75b6;
}
.blue-dot {
  width: 10px;
  height: 10px;
  z-index: 9999;
  background-color: rgba(0, 25, 245, 0.986);
  border-radius: 50%;

  display: inline-block;
  margin: 0 1rem 0 0;
}
.connecting-line {
  height: 42rem;
  position: absolute;
  width: 0.5px;
  margin: 2.5rem 0 0 2.4rem;

  color: #837d7594;
}
.dot-flex {
  display: flex;
  align-items: center;
}
.activity-class {
  margin: 2rem 0 0 2rem;
}
.activity-titles {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: black;
}
.activity-des {
  margin: 0.8rem 2.5rem 0rem 2rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #837d75cb;
}
.subdes {
  color: rgba(128, 114, 114, 0.445);
}
.orangeborder {
  border-right: 3px solid #fca424;
  position: absolute;
  height: 2.3rem;
  width: 1rem;
  z-index: 9999;
  top: 115%;
  left: 83%;
}
.orange-dot {
  background-color: #fca424;
  z-index: 9999;
}
.green-dot {
  background-color: #23a829;
  z-index: 9999;
}
.pay-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pay-button:hover {
  color: white;
  background-color: #f80808;
  cursor: pointer;
}
